.modal-small {
    .modal-content {
        text-align: center;
        .modal-footer {
            border: none;
            justify-content: center;
        }
    }
}

.below {
    z-index: 10 !important;
}